@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.card{
    width:360px;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.top-section{
    height: 310px;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
}

#image-container{
    width: 360px;
    height: 240px;
}

.nav{
    text-align: center;
}

.nav img{
    width: 80px;
    height: 50px;
    border: 1px solid #dddddd;
    margin: 8px 2px;
    cursor: pointer;
    transition: 0.3s;
}

.nav img:hover{
    border-color: #080808;
}
.price{
    position: absolute;
    top: 20px;
    right: 20px;
    color:#ff3300;
    font-size: 24px;
}

.product-info{
    padding: 24px;
}

.name{
    text-transform: uppercase;
    font-size: 24px;
    color:#333333;
}
.text{
    font-size: 16px;
    opacity: 0.7;
}

.btn{
    display: block;
    background-color: #ff0000;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover{
    background-color: #333333;
}
